<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
        <title>Calorie Buddy: About</title>
    </head>
    
    <h1>Calorie Buddy</h1>

    <ul class="nav">
        <li><a href='./'>Home</a></li>
        <li><a class="active" href='/about'>About</a></li>
        <li><a href='/addfood'>Add Food</a></li>
        <li><a href='/listfood'>List Food</a></li>
        <li><a href='/login'>Login</a></li>
        <li><a href='/register'>Register</a></li>
        <li><a href='/searchfood'>Search Food</a></li>
        <li><a href='/updatefood'>Update Food</a></li>
	<li><a href='/api'>API</a></li>
	<li><a href='/logout'>Logout</a></li>
    </ul>

    <body>

        <h2>About</h2>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat sunt minus, fugiat ullam iste incidunt ab voluptatem dignissimos dicta voluptas, repellendus numquam enim quo esse nisi, quisquam natus. Excepturi, optio.</p>

        <p>Devloper: Yasmin Paksoy</p>
    
    </body>

</html>
