<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
        <title>Calorie Buddy: Add Food</title>
    </head>
    
    <h1>Calorie Buddy</h1>

    <ul class="nav">
        <li><a href='./'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a class="active" href='/addfood'>Add Food</a></li>
        <li><a href='/listfood'>List Food</a></li>
        <li><a href='/login'>Login</a></li>
        <li><a href='/register'>Register</a></li>
        <li><a href='/searchfood'>Search Food</a></li>
        <li><a href='/updatefood'>Update Food</a></li>
	<li><a href='/api'>API</a></li>
	<li><a href='/logout'>Logout</a></li>
    </ul>

    <body>

        <h2>Add Food</h2>

        <form method="POST" action="/foodadded">

            <!--Autofocus added so user can start typing straigt away-->
            <label for="name">Name:</label>
            <input id="name" type="text" name="name" value="name" autofocus/><br>

            <label for="typicalValues">Typical values per:</label>
            <input id="typicalValues" type="number" name="typicalValues" value="100"/><br>
	
	    <label for="unitTypicalValues">Unit of the typical value:</label>
	    <select name="unitTypicalValues" id="unitTypicalValues">
		<option value="grams">Grams</option>
		<option vaLue="kilograms">Kilograms</option>
		<option value="ounces">Ounced</option>
		<option value="tablespoon">Tablespoon</option>
		<option value="cup">Cup</option>
		<option value="millilitres">Millilitres</option>
		<option value="litres">Litres</option> 
	    </select><br>

            <label for="calories">Calories:</label>
            <input id="calories" type="number" name="calories" value="100"/><br>

            <label for="carbs">Carbs:</label>
            <input id="carbs" type="number" name="carbs" value="100"/><br>

            <label for="fat">Fat:</label>
            <input id="fat" type="number" name="fat" value="100"/><br>

            <label for="protein">Protein:</label>
            <input id="protein" type="number" name="protein" value="100"/><br>

            <label for="salt">Salt:</label>
            <input id="salt" type="number" name="salt" value="100"/><br>

            <label for="sugar">Sugar:</label>
            <input id="sugar" type="number" name="sugar" value="100"/><br>
        
            <input type="submit" value="OK" >
        

    </body>

</html>
