<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
        <title>Calorie Buddy: Home</title>
    </head>
    
    <h1>Calorie Buddy</h1>

    <ul class="nav">
        <li><a class="active" href='./'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/addfood'>Add Food</a></li>
        <li><a href='/listfood'>List Food</a></li>
        <li><a href='/login'>Login</a></li>
        <li><a href='/register'>Register</a></li>
        <li><a href='/searchfood'>Search Food</a></li>
        <li><a href='/updatefood'>Update Food</a></li>
	<li><a href='/api'>API</a></li>
	<li><a href='/logout'>Logout</a></li>
    </ul>

    <body>

        <h2>Home</h2>
        
        <p>Iste suscipit qui quaerat omnis corporis adipisci deleniti ut. Accusantium ab voluptatem sapiente ullam fugit sed. Fugit assumenda magni et.</p>
        <p>Ea sapiente quae in iusto rerum est rem magni. Doloribus qui natus vero ipsa enim saepe. Quia sed eveniet porro unde optio magni libero voluptate. Reprehenderit incidunt et aliquid consequatur deserunt voluptatum est. Ipsam ea quaerat tempora recusandae eius accusamus dolorum iste. Et voluptatem adipisci et eveniet illum eveniet dolor quo.</p>
        <p>Voluptas dolore aut laudantium aut minus praesentium recusandae necessitatibus. Aut illo corrupti ut aliquid necessitatibus. Nulla optio atque ut enim similique soluta at est.</p>
        <p>Et sed rerum sit ratione consequatur. Maiores rem nisi recusandae sunt hic autem. Magni deleniti repudiandae placeat doloribus fuga officiis nesciunt. Est adipisci vel repellendus aut est sapiente et iure.</p>
        <p>Vitae autem et cupiditate. Reiciendis dolorum in sed sint consequatur minus commodi. Voluptatem accusamus consequatur vel perspiciatis.</p>
	
    </body>

</html>

