<!doctype html>
<html>
	<head>
        	<link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
        	<title>Calorie Buddy: Register</title>
	</head>

	<h1>Calorie Buddy</h1>

    	<ul class="nav">
        	<li><a href='./'>Home</a></li>
        	<li><a href='/about'>About</a></li>
        	<li><a href='/addfood'>Add Food</a></li>
        	<li><a href='/listfood'>List Food</a></li>
        	<li><a href='/login'>Login</a></li>
        	<li><a class="active" href='/register'>Register</a></li>
        	<li><a href='/searchfood'>Search Food</a></li>
        	<li><a href='/updatefood'>Update Food</a></li>
		<li><a href='/api'>API</a></li>
        	<li><a href='/logout'>Logout</a></li>
	</ul>

	<body>

        	<h2>Register</h2>

        	<p>Please fill this form to register:</p>
        	
		<form method="POST" action="/registered">
            
            		<label for="firstname">First Name:</label>
            		<input id="firstname" type="text" name="firstname" value="name"/><br>
            
            		<label for="lastname">Last Name:</label>
            		<input id="lastname" type="text" name="lastname" value="lastname"/><br>	
            
            		<label for="email">Email:</label>
            		<input id="email" type="email" name="email" value="email"/><br>
            
            		<label for="username">Username (required):</label>
            		<input id="username" type="text" name="username" value="username"/><br>
            
            		<label for="password">Password (minimum 8 characters):</label>
            		<input id="password" type="password" name="password" value="password"/><br>
            
            		<input type="submit" value="Submit"/>
        	</form>
	</body>
</html>
